@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(128, 128, 128, 0.171);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}